<div class="card bortder-primary mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-primary">
        <button class="btn btn-primary my-2" routerLink="/materias/form">Crear Materia</button>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let materia of lista">
                    <td>{{materia.id_materia}}</td>
                    <td>{{materia.nombre_materia}}</td>
                    <td>{{materia.descripcion_materia}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" [routerLink]="['/materias/form',materia.id_materia]">
                            Editar
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="eliminar(materia)">Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>