<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Libreria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/autores" routerLinkActive="active">Autores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/colecciones" routerLinkActive="active">Colecciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/editoriales" routerLinkActive="active">Editoriales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/empleados" routerLinkActive="active">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/estados" routerLinkActive="active">Estados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/generos" routerLinkActive="active">Generos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/materias" routerLinkActive="active">Materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/prestamos" routerLinkActive="active">Prestamos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/roles" routerLinkActive="active">Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/tipocolecciones" routerLinkActive="active">Tipo Colecciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>