<div class="card border-primary mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body text-primary">
        <button class="btn btn-secondary my-2" routerLink="/editoriales">Regresar</button>
        <br>
        <form>
            <div class="form-group">
                <label for="nombre_editorial">Nombre</label>
                <input type="text" name="nombre_editorial" id="nombre_editorial" class="form-control" [(ngModel)]="editorial.nombre_editorial">
            </div>
            <div class="form-group">
                <label for="correo_editorial">Correo</label>
                <input type="email" name="correo_editorial" id="correo_editorial" class="form-control" [(ngModel)]="editorial.correo_editorial">
            </div>
            <div class="form-group">
                <label for="direccion_editorial">Direccion</label>
                <input type="text" name="direccion_editorial" id="direccion_editorial" class="form-control" [(ngModel)]="editorial.direccion_editorial">
            </div>
            <div class="form-group">
                <label for="telefono_editorial">Telefono</label>
                <input type="number" name="telefono_editorial" id="telefono_editorial" class="form-control" [(ngModel)]="editorial.telefono_editorial">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="editorial.id_editorial? modificar(): crear()">
                    {{ editorial.id_editorial? 'Modificar': 'Crear' }}</button>
            </div>
        </form>
    </div>
</div>
